## GitHub docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
##
## CODEOWNERS style rules:
## 1. Prefer team ownership over individual user ownership.
## 2. General team should be listed first.
## 3. Try to keep paths alphabetically sorted within visual groups.
## 4. List individual owners last.
##

# Project owners
# *    @yacosta738

# Project core
/clients/web/apps/docs/     @dallay/core @yacosta738
/scripts/validate-docs-metadata.mjs @dallay/core @yacosta738
/.github/workflows     @dallay/core @yacosta738
/.github/pull_request_template.md @dallay/core @yacosta738
/.github/PULL_REQUEST_TEMPLATE/ @dallay/core @yacosta738
